	@model MVCMusicStoreApplication.Models.Album
@{
    ViewBag.Title = "Album - " + Model.Title;
}
<h3>b</h3>
<p>

</p>


<div id="header">
    <h1>
        ASP.NET MVC MUSIC STORE
    </h1>
    <ul id="navlist">
        <li class="first"><a href="/" id="current">Home</a></li>
        <li><a href="/Store/">Store</a></li>
    </ul>
</div>
<h3>Content Body</h3>
<h2> Details</h2>
<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title"
         src="@Model.AlbumArtUrl" />
</p>
<div id="album-details">
    <p>
        <em>Artist:</em>
        @Model.Artist.Name
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}",
Model.Price)
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart",
        "ShoppingCart", new { id = Model.AlbumId }, "")
    </p>
</div>