@model IEnumerable<MVCEnrollmentApplication.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="StudentoftheMonth">
    @Ajax.ActionLink("Click Here to see the Student of the Month",
    "StudentoftheMonth",
    null,
    new AjaxOptions
    {
        UpdateTargetId = "StudentoftheMonth",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-primary" })

</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentFirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
@section Scripts
{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/Apps/EnrollmentScript.js"></script>
    }